<header>
    <header class="top-area">
        <nav>
            <div class="navbar-header">
                <a [routerLink]="['/welcome']"></a>
            </div>
            <div class="navbar-menu">
                <ul>
                    <li><a [routerLink]="['/welcome']">Return to main page</a></li>
                </ul>
            </div>
        </nav>
      </header>
</header>
<main>

    <!--Information section-->
    <hr>
        <div id="information" class="line_caption_dark">Calculator</div> 
    <hr/>   

    <!--Information about what the calculator does and the rules!-->
    <body>
        <div *ngIf="boolCalculator == false" class="start-screen-calculator">
            <h1>Guide</h1>
            <p>This calculator .... </p>
            <p>By using this ....</p>
            <p>Please, press the button to start!</p>

            <div class = "button-container">
                <button id ="button1" (click)="StartCalculator()">Start</button>
            </div>
        </div>



        <!--Questions-->
        <div *ngIf="boolCalculator == true && JsonArray" class="questions">
            <div *ngFor="let key of getObjectKeys(JsonArray); let j = index">
                <!--This checks the current key like health etc this is important for the question pages-->
                <div *ngIf="key == getCurrentPillar()" class="key1">
                    <h1>{{ key }}</h1>
                    <div *ngFor="let question of JsonArray[key]?.questions; let i = index">

                        <div class="questions-layout">{{question.question}}</div>

                        <div *ngIf="question.answer_style == 'Scale' ">
                            Answer style is Scale
                        </div>

                        <div *ngIf="question.answer_style == 'Multiple Choice' ">
                            Answer style is Multipe Choice
                        </div>
                        
                        <!--This checks type of answer and creates custom answer-->
                        <div *ngIf="question.answer_style == 'Agree/Disagree' " class="radio">
                            <input type="radio" value="Strongly Disagree" class="Radio_input" id="Radio1" name="radio_1">
                            <label class="Radio_label" id="agree1" for="Radio1">Strongly Disagree</label>
                    
                            <input type="radio" value="Disagree" class="Radio_input" id="Radio2" name="radio_1">
                            <label class="Radio_label" id="agree2" for="Radio2">Disagree</label>
                            
                            <input type="radio" value="Neutral" class="Radio_input" id="Radio3" name="radio_1">
                            <label class="Radio_label" id="agree3" for="Radio3">Neutral</label>
                                
                            <input type="radio" value="Agree" class="Radio_input" id="Radio4" name="radio_1">
                            <label class="Radio_label" id="agree4" for="Radio4">Agree</label>

                            <input type="radio" value="Strongly Agree" class="Radio_input" id="Radio5" name="radio_1">
                            <label class="Radio_label" id="agree5" for="Radio5">Strongly Agree</label>
                        </div>

                        <div *ngIf="question.answer_style == 'Yes/No' " class="yesno">
                            <input (click)="pushAnswer(i, 'yes')" type="radio" value="Yes" class="Yesno_input" id="Yesno1_{{i}}" name="yesno_1_{{i}}">
                            <label class="Yesno_label_L" id="yes1_{{i}}" for="Yesno1_{{i}}">Yes</label>

                            <input (click)="pushAnswer(i, 'no')" type="radio" value="No" class="Yesno_input" id="Yesno2_{{i}}" name="yesno_1_{{i}}">
                            <label class="Yesno_label_R" id="yes2_{{i}}" for="Yesno2_{{i}}">No</label>
                        </div>
                        <!--This checks type of answer and creates custom answer-->
                        <input *ngIf="question.answer_style == 'Custom' " type="text" class="Custom" placeholder="Enter your answer here">

                         

                    </div>

                    <div class = 'button-container1'>
                        <button *ngIf="getCurrentKey() > 0" (click)="removeCurrentKey()" >Previous</button>
                        <div *ngIf="getCurrentKey() > 0" class="blank"></div>
                        <button *ngIf="getCurrentKey() < 7" (click)="addCurrentKey()">Next</button>
                        <button (click)="SubmitResults()" *ngIf="getCurrentKey() >= 7">Finish</button>
                    </div>
                </div>
            </div>  
        </div>
    </body>
    
    <!-- Start of footer-->
    <footer>
        <hr>
            <section class="footer">Designed, Developed by Maksym Taran, Jordi Fransen.</section> 
            
        <hr/>
    </footer>

</main>
