<header>
    <header class="top-area">
        <nav>
            <div class="navbar-header">
                <a (click)="scrollToTop()"></a>
            </div>
            <div class="navbar-menu">
                <ul>
                    <li><a [routerLink]="['/welcome']">Return to the main page</a></li>
                </ul>
            </div>
        </nav>
      </header>
</header>
<main>

    <!--Information section-->
    <hr>
        <div id="information" class="line_caption_dark">Calculator</div> 
    <hr/>   

    <!--Information about what the calculator does and the rules!-->
    <body>
        <div *ngIf="boolCalculator == false" class="start-screen-calculator">
            <p>This calculator .... </p>
            <p>By using this ....</p>
            <p>Please press button to start!</p>
        </div>



        <!--Questions-->
        <div *ngIf="boolCalculator == true && JsonArray" class="questions">
            <div *ngFor="let key of getObjectKeys(JsonArray)">
                <!--This checks the current key like health etc this is important for the question pages-->
                <div *ngIf="key == getCurrentPillar()">
                    <h1>{{ key }}</h1>
                    <div *ngFor="let question of JsonArray[key]?.questions">
                        <div>{{question.question}}</div>
                    </div>
                    <button *ngIf="getCurrentKey() < 6" (click)="addCurrentKey()">Next</button>
                    <button *ngIf="getCurrentKey() >= 6">Finish</button>
                </div>
            </div>  
        </div>

        <div *ngIf="boolCalculator == false" class="questions">
            <h4>Company</h4>

            <h3>Company name:</h3>
            <input type="text" class ="text-question" placeholder="Enter the company name">

            <h3>Country:</h3>
            <input type="text" class ="text-question" placeholder="Enter the country">

            <h3>Total revenue for the last financial year:</h3>
            <select id="answers3">
                <option>100K - 499K</option>
                <option>500K - 999K</option>
                <option>1M - 2,9M</option>
                <option>3M - 4,9M</option>
                <option>5M+</option>
            </select>

            <h3>Total number of employees:</h3>
            <select id="answers4">
                <option>1-14</option>
                <option>15-29</option>
                <option>30-49</option>
                <option>50-99</option>
                <option>100+</option>
            </select>

            <h3>Sector of Activity:</h3>
                <p>Consumer/End products</p>
                <p>Intermediate products</p>

            <h3>Are you exporting to other countries?</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <h3>What is the distance:</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <h3>How do you export your products:</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <h3>Is your import from other countries?</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <h3>What is the distance:</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <h3>How do you import your products:</h3>
            <input type="text" class ="text-question" placeholder="Enter here">

            <button (click)="StartCalculator()">START</button>
        </div>
    </body>
    
    <!-- Start of footer-->
    <footer>
        <hr>
            <section class="footer">Designed, Developed by Maksym Taran, Jordi Fransen.</section> 
            
        <hr/>
    </footer>

</main>
