<header>
    <header class="top-area">
        <nav>
            <div class="navbar-header">
                <a (click)="scrollToTop()"></a>
            </div>
            <div class="navbar-menu">
                <ul>
                    <li><a [routerLink]="['/welcome']">Return to the main page</a></li>
                </ul>
            </div>
        </nav>
      </header>
</header>
<main>

    <!--Information section-->
    <hr>
        <div id="information" class="line_caption_dark">Calculator</div> 
    <hr/>   

    <!--Information about what the calculator does and the rules!-->
    <body>
        <div *ngIf="boolCalculator == false" class="start-screen-calculator">
            <h1>Guide</h1>
            <p>This calculator .... </p>
            <p>By using this ....</p>
            <p>Please, press the button to start!</p>

            <div class = "button-container">
                <button id ="button1" (click)="StartCalculator()">Start</button>
            </div>
        </div>



        <!--Questions-->
        <div *ngIf="boolCalculator == true && JsonArray" class="questions">
            <div *ngFor="let key of getObjectKeys(JsonArray)">
                <!--This checks the current key like health etc this is important for the question pages-->
                <div *ngIf="key == getCurrentPillar()" class="key1">
                    <h1>{{ key }}</h1>
                    <div *ngFor="let question of JsonArray[key]?.questions">

                        <div>{{question.question}}</div>

                        <div *ngIf="question.answer_style == 'Scale' ">
                            Answer style is Scale
                        </div>

                        <div *ngIf="question.answer_style == 'Multipe Choice' ">
                            Answer style is Multipe Choice
                            <div *ngIf="this.pushAnswers == true">{{initiateQuestionNumber("test")}}</div>
                        </div>

                        <div *ngIf="question.answer_style == 'Agree/Disagree' ">
                            Answer style is Agree / Disagree
                        </div>

                        <div *ngIf="question.answer_style == 'Yes/No' ">
                            Answer style is Yes / No
                        </div>

                        <div *ngIf="question.answer_style == 'Custom' ">
                            Answer style is Custom
                        </div>

                    </div>
                    <div class = 'button-container1'>
                        <button *ngIf="getCurrentKey() < 7" (click)="addCurrentKey()">Next</button>
                        <button *ngIf="getCurrentKey() >= 7">Finish</button>


                    </div>
                </div>
            </div>  
        </div>
    </body>
    
    <!-- Start of footer-->
    <footer>
        <hr>
            <section class="footer">Designed, Developed by Maksym Taran, Jordi Fransen.</section> 
            
        <hr/>
    </footer>

</main>
