/*
  START OF DOCUMENTATION
  WRITTEN BY FRANSEN JORDI

  CSS FOR WELCOME COMPONENT 

  1.      PROJECT
  1.1     font import
  1.2     body setup
  1.3     section devider

  2.      HEADER  
  2.1     header setup
  2.2     header display
  2.3     navbar section
  2.4     logo section
  2.5     logo
  2.6     logo pointer
  2.7     nav menu list
  2.8     nav menu elements
  2.9     nav menu objects
  2.10    underline setup
  2.11    a element hover styling
  2.12    underline hover styling

  3.      SIGNIN
  3.1     signin setup
  3.2     signin content setup
  3.3     signin title
  3.4     signin cred-box setup
  3.5     content position
  3.6     input position
  3.7     input styling
  3.8     login & continue box styling
  3.9     login button styling
  3.10    wrongcreds title

  4.      Success
  4.1     succes section
  4.2     succes content
  4.3     succes title
  4.4     continue box
  4.5     continue object

  5.      Footer
  5.1     footer section

*/


/*-------------------------------------

        1. PROJECT

--------------------------------------*/

/* 1.1 font import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}

/* 1.2 body setup */
body{
  height: 80vh;
  background-color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif; 
  background-size: 200vh;
}


/* 1.3 section devider */
hr {
  
  height: 0rem;
  border: 0rem;
  border-top: 1px solid #e9e9e9;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  background: rgb(255, 255, 255); 
}


/*-------------------------------------

        2. HEADER

--------------------------------------*/


/* 2.1 header setup */
header{
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border: 0.1px solid rgb(255, 255, 255);
}


/* 2.2 header display */
header nav{
  display: flex;
  justify-content: space-between;
}


/* 2.3 navbar section */
.top-area{
  position: fixed;
  z-index: 9999;
  width: 100vw;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}


/* 2.4 logo section */
header nav .navbar-header{
  margin-top: 2vh;
  margin-left: 6vw;
}


/* 2.5 logo */
header nav .navbar-header a {
  width: 14rem;
  height: 50px;
  background-image: url('../../assets/images/logo.jpg');
  background-size: cover;
  display: flex;
  background-position: 0 -47px;
  display: inline-block;
}


/* 2.6 logo pointer */
header nav .navbar-header a:hover, header nav .navbar-menu ul li a{
  cursor: pointer;
}


/* 2.7 nav menu list */
header nav .navbar-menu ul{
  display: flex;
  gap: 2vw;
  margin-right: 3vw;
  list-style: none;
}


/* 2.8 nav menu list elements */
header nav .navbar-menu ul li{
  margin-top: 4.2vh;
  position: relative;
}


/* 2.9 nav menu objects */
header nav .navbar-menu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #838282;
  font-weight: 400;
  padding-bottom: 3px; /* Add padding to accommodate the underline */
  transition: color 0.3s;
}


/* 2.10 underline setup */
header nav .navbar-menu ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px; 
  background-color: transparent;
  bottom: -4px; 
  left: 0;
  transition: background-color 0.3s, transform 0.3s;
  transform: scaleX(0); 
  transform-origin: left;
}


/* 2.11 a element hover styling */
header nav .navbar-menu ul li a:hover{
  color: green;
}


/* 2.12 underline hover styling */
header nav .navbar-menu ul li a:hover::after{
  background-color: green;
  transform: scaleX(1); /* Scale to full width on hover */
}


/*-------------------------------------

        3. SIGNIN 

--------------------------------------*/


/* 3.1 signin setup */
.signin{
  display: flex;
  justify-content: center;
}


/* 3.2 signin content setup */
.content{
  height: 45vh;
  width: 25vw;
  background-color: #fafafa;
  margin-top: 20vh;
  margin-bottom: 12.8vh;
  border-radius: 1.75rem;
  box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.8);

}


/* 3.3 signin title */
.content h2{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: 6vh;
  text-transform: uppercase;
  color:#504d4d;
}


/* 3.4 signin creds-box setup */
.content .form{
  width: 100%;
  margin-top: 3vh;
}


/* 3.5 content position */
.content .form .inputBox{
  padding-top: 2vh;
}


/* 3.6 input position */
.content .form .inputBox input, .loginBox button, .continueBox a{
  height: 5vh;
  width: 18.2vw;
  margin-right: 3vw;
  margin-left: 3vw;
}


/* 3.7 input styling */
.inputBox input{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-left: 0.5rem;
}


/* 3.8 login & continue box position */
.loginBox, .continueBox{
  margin-top: 1vh;
  height: 10vh;
  width: 100%;
}


/* 3.9 login button styling */
.loginBox button{
  width: 19vw;
  margin-top: 3vh;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
	font-size:16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: hsl(118, 79%, 35%);
  border: hsl(118, 79%, 35%) 3px solid;
  background-color:transparent;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 hsl(118, 79%, 35%), 0 0 0.5em 0 hsl(118, 79%, 35%);
  transition:all 0.5s;
}

.loginBox button:hover, .continueBox a:hover{
  background-color:hsl(118, 79%, 35%);
  color:#fff; 
}

/* 3.10 wrongcreds title */
.wrongCreds h3{
  padding-top: 1vh;
  text-align: center;
}

/*-------------------------------------

        4. SUCCES

--------------------------------------*/


/* 4.1 success section */
.success{
  display: flex;
  justify-content: center;
}


/* 4.2 succes content */
.contentSuccess{
  height: 45vh;
  width: 25vw;
  background-color: #fafafa;
  margin-top: 10vh;
  border-radius: 5%;
}


/* 4.3 succes title */
.contentSuccess h2{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: 6vh;
}


/* 4.4 continue button */
.continueBox{
  margin-top: 23vh;
  text-align: center;
}


/* 4.5 continue object*/
.continueBox a{
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid black;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


/*-------------------------------------

        5. FOOTER

--------------------------------------*/


/* 5.1 footer section */
.footer{
  font-size: 16px;
  color: rgb(168, 168, 168);
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}
