@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  height: 100vh;
  background-color: antiquewhite;
  font-family: 'Quicksand', sans-serif;
  background-image: url(../welcome/images/carousel2.jpg);
  background-size: 200vh;
}

.signin{
  display: flex;
  justify-content: center;
}

.content{
  height: 45vh;
  width: 25vw;
  background-color: aqua;
  margin-top: 10vh;
  border-radius: 5%;
}

.content h2{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: 6vh;
}
.content .form{
  width: 100%;
  margin-top: 3vh;
}
.content .form .inputBox{
  padding-top: 2vh;
}
.content .form .inputBox input, .loginBox button, .continueBox a{
  height: 5vh;
  width: 19vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.loginBox, .continueBox{
  margin-top: 1vh;
  height: 10vh;
  width: 100%;
}
.loginBox button{
  margin-top: 3vh;
}

.loginBox button:hover, .continueBox a:hover{
  background-color: greenyellow;
}




.wrongCreds h3{
  padding-top: 1vh;
  text-align: center;
}




.success{
  display: flex;
  justify-content: center;
}
.contentSuccess{
  height: 45vh;
  width: 25vw;
  background-color: aqua;
  margin-top: 10vh;
  border-radius: 5%;
}

.contentSuccess h2{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: 6vh;
}
.continueBox{
  margin-top: 23vh;
  text-align: center;
}
.continueBox a{
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid black;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

}