<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  </head>

  <body *ngIf="this.screen != 'laptop'">
    <h1>This site is not developed for mobile usage.</h1>
  </body>
  <body *ngIf="this.screen == 'laptop'">
    <!-- Start Header -->
    <header>
        <header class="top-area">
            <nav>
                <div class="navbar-header">
                    <a (click)="scrollToTop()"></a>
                </div>
                <div class="navbar-menu">
                    <ul>
                        <li><a (click)="scrollToInformation()">Information</a></li>
                        <li><a (click)="scrollToCalculator()">Calculator</a></li>
                        <li><a (click)="scrollToAbout()">About us</a></li>
                        <li><a [routerLink]="['/request']">Contact</a></li>
                        <li><a [routerLink]="['/result']">Result</a></li>
                        <li><a [routerLink]="['/login']" *ngIf="this.loginState == false">Login</a></li>
                        <li><a *ngIf="this.loginState == true">Logged In</a></li>
                    </ul>
                </div>
            </nav>
          </header>
    </header>
    <!-- End Header -->
    
    <!-- Start Carousel-->
    <div class="carousel">
        <div class="wrapper">
            <div class="container">
                <input type="radio" name="slide" id="c1" checked>
                <label for="c1" class="card">
                    <div class="row">
                        <div class="icon1"></div>
                        <div class="description">
                            <h4>Materials</h4>
                            <p>This encompasses the efficient use of materials, including reducing consumption, maximizing the lifespan of products, and promoting recycling and reuse to minimize waste.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c2" >
                <label for="c2" class="card">
                    <div class="row">
                        <div class="icon2"></div>
                        <div class="description">
                            <h4>Renewable energy</h4>
                            <p>Transitioning to renewable energy sources helps reduce reliance on finite fossil fuels, decrease greenhouse gas emissions, and promote sustainability.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c3" >
                <label for="c3" class="card">
                    <div class="row">
                        <div class="icon3"></div>
                        <div class="description">
                            <h4>Water stewardship</h4>
                            <p>Efficient water use, pollution prevention, and conservation are essential for protecting water resources and ecosystems in a circular economy.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c4" >
                <label for="c4" class="card">
                    <div class="row">
                        <div class="icon4"></div>
                        <div class="description">
                            <h4>Biodiversity</h4>
                            <p>Preserving and restoring biodiversity is crucial for maintaining ecosystem resilience, supporting natural processes, and ensuring the long-term health of the planet.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c5" >
                <label for="c5" class="card">
                    <div class="row">
                        <div class="icon5"></div>
                        <div class="description">
                            <h4>Society & culture</h4>
                            <p>Considerations of social equity, inclusivity, and cultural values are important for ensuring that the transition to a circular economy benefits all members of society and respects diverse perspectives.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c6" >
                <label for="c6" class="card">
                    <div class="row">
                        <div class="icon6"></div>
                        <div class="description">
                            <h4>Health & wellbeing</h4>
                            <p>Fostering healthier and safer environments, both in terms of physical and mental health, is essential for sustainable development and quality of life in a circular economy.</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c7" >
                <label for="c7" class="card">
                    <div class="row">
                        <div class="icon7"></div>
                        <div class="description">
                            <h4>Value</h4>
                            <p>This refers to creating economic value through circular business models, innovations, and collaborations that contribute to resource efficiency, resilience, and long-term prosperity.</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <!-- End Carousel -->


    <!-- Start main -->
    <main>

        <!-- Start Information section -->
        <section class="information">
            <hr>
                <div id="information" class="line_caption">What is circularity</div>
            <hr/>
            <div class="text1">
            In today's global scenario, the transition to a Circular Economy is emerging as a crucial imperative for tackling the environmental and economic challenges facing our society. 
            The Circular Economy is much more than a simple waste management approach, it represents a new business paradigm, where resources are used efficiently and regeneratively, while products and materials circulate continuously through various processes, such as maintenance, reuse, renovation, remanufacturing, recycling and composting.
            </div>
            <div class="text2">
                <div class="r1d1"></div>
                <div class="r1d2">
                    <p>
                        This innovative business model, with its emphasis on sustainability,
                        is becoming increasingly recognized for its potential to generate 
                        competitiveness and create a positive impact on the global economy.
                        To successfully implement the Circular Economy, a change in the traditional approach towards the market, 
                        customers and natural resources is crucial. This not only promotes cost reduction, but also the efficient use of energy, 
                        the reduction of CO2 emissions and the establishment of more optimized and secure supply chains.
                    </p>
                </div>
                <div class="r2d1">
                    <p>
                        The Circular Economy is driving a restructuring of the economic model by coordinating production and consumption systems in closed circuits. 
                        This dynamic process requires not only technical and economic compatibility (skills and productive activities), but also an appropriate social and institutional context (incentives and values).
                    </p>
                </div>
                <div class="r2d2"></div>
            </div>
            <br>
            <div class="text3">
                The Circular Economy transcends the narrow confines of waste management and recycling efforts, aspiring to a wider range of initiatives. These include reformulating processes, products and new business models, as well as optimizing the use of resources. The aim is to effectively "circulate" products, components and materials in technical and/or biological cycles. This approach promotes the creation of economically sustainable and ecologically efficient products and services. It manifests itself through strategies such as reducing resource extraction, maximizing reuse, increasing efficiency and innovating new business paradigms.
            </div>
            <div class="button-container">
                <a class="redirect-button" href="https://www.eea.europa.eu/en/topics/in-depth/circular-economy#:~:text=Circularity%20can%20include%20practices%20like,waste%20and%20less%20environmental%20impact." target="_blank">Circularity website</a>
            </div>            
        </section>
        <!-- End Information section -->



        <!-- Start Calculator section-->
        <hr>
            <div id="calculator" class="line_caption_dark">Calculator</div> 
        <hr/>
        <section class="calculator">The calculator is designed for companies within the manyfacturing sector. <br> Our calculator is the finest on the market! In our A.I. is advanced in combination with your honest reactions we know we can deliver the best analysis for your company!
            <div class="button-container">
                <a class="redirect-button" [routerLink]="['/calculator']">Take me to the calculator</a>
            </div>
        </section>
        <!-- End Calculator section -->
        


        <!-- Start About section -->
        <hr>
            <div id="about" class="line_caption">About us</div> 
        <hr/>
        <div class="about-photo"></div>
        <section class="about">Our team comprises six diligent students dedicated to crafting an innovative application designed to revolutionize client interactions. Our platform operates by presenting tailored questions to users, gathering comprehensive data to fuel our analytical engine. Through meticulous examination, we pinpoint areas where clients may lack crucial details, providing invaluable insights and personalized solutions.
            Our vision extends beyond mere functionality, we aspire to cultivate a seamless user experience through an intuitive web interface. With a focus on user-friendly design principles, we strive to create an application that seamlessly guides users through the process, ensuring accessibility and ease of use at every step.
            Driven by a commitment to simplicity and effectiveness, our aim is to empower clients with actionable advice and solutions derived from thorough analysis. By marrying cutting-edge technology with user-centric design, we endeavor to deliver a transformative experience that empowers individuals to make informed decisions and achieve their goals effortlessly.
            
            <div class="person-display">
                <div class="persons">
                    <div class="personA">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>Maksym Taran</h4>
                            <p>Developer, Designer, Researcher</p>
                            <p>Inholland University of Applied Sciences</p>
                        </div>
                    </div>
                    <div class="personB">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>Jordi Fransen</h4>
                            <p>Developer, Designer, Researcher</p>
                            <p>AP University Antwerp Belgium</p>
                        </div>
                    </div>
                    <div class="personC">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>Bartłomiej Michalewicz</h4>
                            <p>Developer, Researcher</p>
                            <p>Inholland University of Applied Sciences</p>
                        </div>
                    </div>
                    <div class="personD">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>Pedro Sousa</h4>
                            <p>Researcher</p>
                            <p>Instituto Superior Politécnico Gaya — ISPGAYA , Portugal</p>
                        </div>
                    </div>
                    <div class="personE">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>Marfitsyn Nikita</h4>
                            <p>Researcher</p>
                            <p>Inholland University of Applied Sciences</p>
                        </div>
                    </div>
                    <div class="personF">
                        <div class="person-photo"></div>
                        <div class="person-description">
                            <h4>João Ferreira</h4>
                            <p>Researcher</p>
                            <p>Instituto Superior Politécnico Gaya — ISPGAYA , Portugal</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!-- End About section -->
    </main>
    <!-- End Main -->

    <!-- Start Footer -->
    <footer>
        <hr>
            <section class="footer">Designed, Developed by Maksym Taran, Jordi Fransen.</section> 
            
        <hr/>
    </footer>
    <!-- End Footer -->
  </body>
</html>
