/*
    START OF DOCUMENTATION
    WRITTEN BY FRANSEN JORDI

    CSS FOR WELCOME COMPONENT 

    1.      BODY
    1.1     font import
    1.2     body setup

    2.      HEADER
    2.1     header setup
    2.2     header display
    2.3     navbar section
    2.4     logo section
    2.5     logo
    2.6     logo pointer
    2.7     nav menu list
    2.8     nav menu elements
    2.9     nav menu objects
    2.10    underline setup
    2.11    a element hover styling
    2.12    underline hover styling
    
    3.      MAIN
    3.1     main section
    3.2     main title layout
    3.3     main description layout
    
    4.      COMPANY
    4.1     company section
    4.2     company title
    4.3     company grid
    4.4     company grid section 1
    4.5     company grid section 2
    4.6     company grid section text
    
    5.      PILLAR
    5.1     pillar section
    5.2     pillar box 1
    5.3     pillar box 2
    5.4     pillar box title
    5.5     pillar box answer
    5.6     pillar diagram
    
    6.      TOTAL
    6.1     total section
    6.2     total title
    6.3     total amount
    6.4     total box 1
    6.5     total box final
    6.6     total box 2
    
    7.      RECOM
    7.1     recom section
    7.2     recom title
    7.3     feedback box
    7.4     feedback column 1
    7.5     feedback column 2
    7.6     feedback column 3
    7.7     feedback column title
    7.8     feedback column answer
    7.9     feedback column feedback
    
    8.      OUTRO
    8.1     outro section
    8.2     outro title and description
    
    9.      BUTTON
    9.1     button container
    9.2     button layout
    9.3     button layout hover
    
    10.     FOOTER
    10.1    footer section

*/






/*-------------------------------------

        1. BODY

--------------------------------------*/


/* 1.1 font import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}

/* 1.2 body setup */
body{
	font-size:16px;
	color: #676a81;
	background: #ffffff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

/*-------------------------------------

        2. HEADER

--------------------------------------*/


/* 2.1 header setup */
header{
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid rgb(255, 255, 255);
}


/* 2.2 header display */
header nav{
    display: flex;
    justify-content: space-between;
}


/* 2.3 navbar section */
.top-area{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}


/* 2.4 logo section */
header nav .navbar-header{
    margin-top: 3vh;
    margin-left: 6vw;
}


/* 2.5 logo */
header nav .navbar-header a {
    width: 14rem;
    height: 50px;
    background-image: url('../../assets/images/UCC_LOGO.jpeg');
    background-size: cover;
    display: flex;
    background-position: 0 -47px;
    display: inline-block;
}


/* 2.6 logo pointer */
header nav .navbar-header a:hover, header nav .navbar-menu ul li a{
    cursor: pointer;
}


/* 2.7 nav menu list */
header nav .navbar-menu ul{
    display: flex;
    gap: 2vw;
    margin-right: 9.2vw;
    list-style: none;
}


/* 2.8 nav menu list elements */
header nav .navbar-menu ul li{
    margin-top: 4.2vh;
    position: relative;
}


/* 2.9 nav menu objects */
header nav .navbar-menu ul li a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #838282;
    font-weight: 400;
    padding-bottom: 3px; /* Add padding to accommodate the underline */
    transition: color 0.3s;
}


/* 2.10 underline setup */
header nav .navbar-menu ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; 
    background-color: transparent;
    bottom: -4px; 
    left: 0;
    transition: background-color 0.3s, transform 0.3s;
    transform: scaleX(0); 
    transform-origin: left;
}


/* 2.11 a element hover styling */
header nav .navbar-menu ul li a:hover{
    color: #0dd466;
}


/* 2.12 underline hover styling */
header nav .navbar-menu ul li a:hover::after{
    background-color: #0dd466;
    transform: scaleX(1); /* Scale to full width on hover */
}


/*-------------------------------------

        3. MAIN

--------------------------------------*/

/* 3.1 Main section */
main{
    height: 260vh;
}


/* 3.2 Main title layout */
.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 3vh;
    width: 90%;
    border-bottom: 2px solid black;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}


/* 3.3 Main description layout */
.description{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}


/*-------------------------------------

        4. COMPANY

--------------------------------------*/

/* 4.1 company section */
.companyBox{
    height: 34vh;
    width: 90%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}


/* 4.2 company title */
.companyBox .companyTitle{
    text-align: center;
    padding-top: 2vh;
    border-bottom: 1px solid black;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    background-color: #206c24;
    color: white;
}


/* 4.3 company grid */
.companyBox .companyGrid{
    display: grid;
    height: 23vh;
    width: 95%;
    padding-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}


/* 4.4 company grid section 1 */
.companyBox .companyGrid .companyBox-1{
    grid-column: 1;
    grid-row: 1; 
}


/* 4.5 company grid section 2 */
.companyBox .companyGrid .companyBox-2{
    grid-column: 0;
    grid-row: 1;
    border-left: 1px solid black;
}


/* 4.6 company grid section text */
.companyBox .companyGrid .companyBox-1 .companyAnswer, .companyBox .companyGrid .companyBox-2 .companyAnswer{
    padding-top: 3vh;
    font-size: 20px;
    padding-left: 4vh;
}

/*-------------------------------------

        5. PILLAR

--------------------------------------*/


/* 5.1 pillar section */
.pillarScoreBox{
    height: 60vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    display: grid;
}


/* 5.2 pillar box 1 */
.pillarScoreBox .pillarScoreBox-1{
    grid-column: 1;
    grid-row: 1;
    border: 1px solid black;
}


/* 5.3 pillar box 2 */
.pillarScoreBox .pillarScoreBox-2{
    grid-column: 0;
    grid-row: 1;
}


/* 5.4 pillar box title */
.pillarScoreBox .pillarScoreBox-1 .pillarScoreTitle{
    text-align: center;
    padding-top: 2vh;
    border-bottom: 1px solid black;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    background-color: #206c24;
    color: white;
}


/* 5.5 pillar box answer */
.pillarScoreBox .pillarScoreBox-1 .pillarAnswer{
    padding-top: 4vh;
    font-size: 20px;
    padding-left: 4vh;
}


/* 5.6 pillar diagram */
.pillarScoreBox .pillarScoreBox-2 .pillarScoreDiagram{
    border: 1px solid black;
    height: 60vh;
}


/*-------------------------------------

        6. TOTAL

--------------------------------------*/


/* 6.1 total section */
.totalBox{
    border: 1px solid black;
    height: 15vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}


/* 6.2 total title */
.totalBox .totalTitle{
    text-align: center;
    padding-top: 2vh;
    border-bottom: 1px solid black;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    background-color: #206c24;
    color: white;
}


/* 6.3 total amount */
.totalAmount{
    display: grid;
}


/* 6.4 total box 1 */
.totalBox .totalBox-1{
    grid-column: 1;
    grid-row: 1;
    height: 8vh;
}


/* 6.5 total box final */
.totalBox .totalBox-1 .totalText, .totalBox .totalBox-2 .totalFinal{
    text-align: left;
    padding-top: 2vh;
    padding-left: 1vh;
}


/* 6.6 total box 2 */
.totalBox .totalBox-2{
    grid-column: 0;
    grid-row: 1;
}


/*-------------------------------------

        7. RECOMMANDATION

--------------------------------------*/


/* 7.1 recom section */
.recomBox{
    margin-top: 8vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 70vh;
}


/* 7.2 recom title */
.recomBox .recomTitle{
    text-align: center;
    padding-top: 4vh;
    font-weight: 900;
    font-size: 20px;
}


/* 7.3 feedback box */
.feedbackBox{
    display: grid;
    margin-top: 8vh;
    width: 50%;
}


/* 7.4 feedback column 1 */
.feedbackCol-1{
    grid-column: 1;
    grid-row: 1;
    padding-left: 5vh;
}


/* 7.5 feedback colum 2 */
.feedbackCol-2{
    grid-column: 2;
    grid-row: 1;
    padding-left: 1vh;
    border-left: 1px solid black;
}


/* 7.6 feedback colum 3 */
.feedbackCol-3{
    grid-column: 0;
    grid-row: 1;
    padding-left: 1vh;
    border-left: 1px solid black;
}


/* 7.7 feedback column title */
.feedbaclCol-Title{
    margin-top: 2vh;
    background-color: green;
    height: 4vh;
    width: 90%;
    text-align: center;
    color: white;
    padding-top: 1vh;
    font-weight: 600;
}


/* 7.8 feedback column answer */
.feedbaclCol-Answer{
    margin-top: 2vh;
    height: 4vh;
    width: 90%;
    text-align: center;
    padding-top: 1vh;
    font-size: 20px;
}


/* 7.9 feedback column feedback */
.feedbaclCol-feedback{
    margin-top: 2vh;
    height: 4vh;
    width: 90%;
    text-align: center;
    padding-top: 1vh;
}

/*-------------------------------------

        8. OUTRO

--------------------------------------*/


/* 8.1 outro section */
.outro{
    height: 10vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    text-align: center;
}


/* 8.2 outro title and description */
.outroTitle, .outroRedirect{
    font-size: 18px;
    margin-bottom: 3vh;
}

/*-------------------------------------

        9. BUTTON

--------------------------------------*/

/* 9.1 button container */
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
}


/* 9.2 button layout */
.redirect-button {
    line-height: 1.5rem;
    height: 3.5rem;
    width: 8.75rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
	font-size:16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: hsl(118, 79%, 35%);
    border: hsl(118, 79%, 35%) 3px solid;
    background-color:transparent;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 hsl(118, 79%, 35%), 0 0 0.5em 0 hsl(118, 79%, 35%);
    transition:all 0.5s;
}
       

/*  9.3 button hover */
.redirect-button:hover{
    background-color:hsl(118, 79%, 35%);
    color:#fff;
}
/*-------------------------------------

        10. FOOTER

--------------------------------------*/


/* 10.1 footer section */
.footer{
    font-size: 16px;
    color: rgb(168, 168, 168);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(255, 255, 255);
}