<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  </head>

  <body>
    <!-- Start Header -->
    <header>
        <header class="top-area">
            <nav>
                <div class="navbar-header">
                    <a (click)="scrollToTop()"></a>
                </div>
                <div class="navbar-menu">
                    <ul>
                        <li><a [routerLink]="['/welcome']" >Return to main page</a></li>
                    </ul>
                </div>
            </nav>
          </header>
    </header>
    <!-- End Header -->

    <main>
        <div class="contactBox">
          <h1 class="contactTitle">Please fill in the contact form</h1>
          <h1 class="mainTitle">Companies specializing in circular economy consultancy are part of this project, we'll be in contact very soon.</h1>
          <h2 class="mainDescription">In this way, we want your organization to achieve excellence in the circular economy.</h2>
          <div class="nameBox">
            <h2 class="nameTitle">Full Name:</h2> <input type="text" placeholder="Your Name" class="Contact-input"> 
          </div>
          <div class="inputBox">
            <h2 class="inputTitle">Email:</h2> <input type="text" placeholder="Your email" class="Contact-input"> 
          </div>
          <div class="inputBox">
            <h2 class="inputTitle" id="phone">Phone:</h2> <input type="text" placeholder="Your phone" class="Contact-input"> 
          </div>
          <div class="inputBox">
            <h2 class="inputTitle" id="messagetext">Message:</h2> <input type="text" placeholder="Your message" class="Contact-input" id="messageinput"> 
          </div>
          <div class="button-container">
            <button>Submit</button>
          </div>
        </div>

    </main>

    <!-- Start of footer-->
    <footer>
      <hr>
          <section class="footer">Designed, Developed by Maksym Taran, Jordi Fransen.</section> 
          
      <hr/>
  </footer>
  </body>
</html>

